<footer class="container">
    <div class="address">
        <p>
            <strong>Technická univerzita v Liberci, <wbr>Fakulta přírodovědně-humanitní a pedagogická</strong>
            <br/>
            <strong>Dětský koutek TUL</strong>
            <br/>
            budova P
            <br/>
            Komenského 314
            <br/>
            460 05 Liberec 1
            <br/>
        </p>
    </div>
</footer>

</body>
</html>