<div id="toastList" class="position-fixed bottom-0 right-0 p-3" style="z-index: 5; right: 0; bottom: 0;" aria-live="polite" aria-atomic="true"></div>

<template id="template_toast">
    <div class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header bg-fptul text-light">
            <strong class="mr-auto title">header</strong>
            <button type="button" class="ml-2 mb-1 close text-light" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body">body</div>
    </div>
</template>